/***********************************NAVBAR******************************/
.logo{
    font-size:30px;
    color: rgb(105, 105, 104);
    margin: 0  10px;
    line-height: 80px;
    display: flex;
    align-items:center;
}

/**********************************a propos****************************/
.apropos{
    width: 100%;
    height: 100vh;
    background-color: rgb(240, 171, 205);
}

/******************************A propos***********************************/
 .heading{
    width:90%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* margin:20px auto;  */

}
.heading h1{
    font-size: 30px;
    color:rgb(234, 147, 25);
    margin-bottom: 25px; 
    position:relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.heading h1::after{
    content:"";
    position:absolute;
    width:100%;
    height:2px;
    display:block;
    margin:0 auto;
    background-color: rgb(17, 18, 17);

}
.heading p{
    font-size: 15px;
    color:#666;
    margin-bottom: 20px; 

}
.container{
    width:90%;
    margin:0 auto;
    padding:10px 20px;
}
.about{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;

}
.about-image{
    flex:1;
    margin-right: 10px;
    overflow: hidden;

}
.about-image img{
    max-width: 100%;
    height:auto;
    display:block;
    transition:0.5s ease;

}
.about-image:hover img{
    transform: scale(1.2);

}
.about-content{
    flex:1;
   
    
    

}
.about-content h3{
    font-size: 40px;
    margin-bottom: 15px;
    color:darkblue;

}
.about-content p{
    font-size: 16px;
    line-height: 1.5;
    color:crimson;
    margin-bottom: 10px;
}

.about-content .lire-plus{
    /* display: inline-block; */
    padding:5px 10px;
    color:#f1f3f1;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 12px;
    transition:0.3s ease;
    background-color: rgb(27, 184, 27);
    margin-left: 200px;
    margin-top: 20px;

   

}
.about-content .lire-plus:hover{
    background-color: rgb(241, 106, 174);
}